.cart-container {
  margin: 30px 0;
  padding: 5px;
}

table {
  margin-bottom: 27.5px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: 400;
  padding: 27.5px 0;
}

th {
  text-align: left;
}

tbody {
  width: 100%;
  padding: 0;
}

tbody tr {
  border-top: 1px solid rgb(142, 142, 142);
  margin: 20px 0;
}

.cart-img-wrapper {
  max-width: 50px;
  margin: 0;
  padding: 0;
}

.cart-img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.cart-item-details {
  text-align: left;
}

.cart-items p {
  display: inline;
  margin: 0;
}

.cart-item {
  list-style: none;
  font-weight: 700;
  color: var(--black);
  display: flex;
  margin-bottom: 8px;
}

.cart-item a > img {
  border: 1px solid var(--black);
  padding: 24px;
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.total-container {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin: 30px 0;
}

.total-price {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
